{% extends "layout.html" %}

{% block title %}About Us{% endblock %}

{% block head %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">


{% endblock %}

{% block content %}
<article class="rightsArticle">
   
    <div class="rightsText">
   <h2 id="ventoTitle"><strong>About Us</strong></h2> <br>
   <h3>This website (maybe app later) was started at NWAPW</h3> <br>
   <h3>The homeless problem in Portland is horribly sad and </h3>  <br>
   <h3>is a very grim situation for youth especially. The </h3> <br>
   <h3>goal of this project is to provide a one stop shop for</h3>  <br>
   <h3>homeless youth. Information is provided on local shelters</h3> <br>
   <h3>(including current capacities), rights of homeless youth,</h3> <br>
   <h3>and volunteer opportunities to help the homeless.</h3>
 </div>

  </article>
{% endblock %}