{% extends "layout.html" %} {% block title %}About Us{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block
content %}
<div class="row justify-content-center">
  <div class="col-12">
    <article class="rightsArticle">

      <h2 id="ventoTitle">
        <strong>About Us</strong>
      </h2>
  </div>
  <div class="col-12 col-md-11 col-lg-10">
    <div class="aboutText">

      This website (possibly an app) was started at NWAPW due to the severe homeless problem in Portland. Many homeless youth travel
      long miles to homeless shelters, just to find out that there are no spots availabe. Therefore, the goal of this project
      is to provide a one-stop shop for homeless youth. On this website, you can find information about local shelters, the
      rights of homeless youth, and even volunteer opportunities to help the homeless.
      <br>
      <br>
      <span style=color:red>Important: </span>
      <br> Many of these shelters now have waiting lists, some of which may be very long. Shelters and services also go out of
      business. Always call ahead to confirm that a location is still active and accepting.
    </div>
  </div>

  </article>

  {% endblock %}