{% extends "layout.html" %}

{% block title %}About Us{% endblock %}

{% block head %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">


{% endblock %}

{% block content %}
<article class="rightsArticle">
    <h2 id="ventoTitle"><strong>About Us</strong></h2>

    <div class="aboutText">
        This website (possibly an app) was started at NWAPW due to the severe homeless problem
        in Portland. Many homeless youth travel long miles to homeless shelters, just to find out 
        that there are no spots availabe. Therefore, the goal of this project is to provide a one-stop 
        shop for homeless youth. On this website, you can find information about local shelters, the 
        rights of homeless youth, and even volunteer opportunities to help the homeless. 
      
</article>
    
{% endblock %}