{% extends "listtemplate.html" %}
<!-- theQuestion="{{ tobe or 'Not to be' }}"
courtesy: https://stackoverflow.com/a/14215034 -->

{% block name %}
<label for="name">Shelter Name:</label>
<input type="text" name="name" form="shelter{{ shelter._id }}" value="{{ shelter.name or '' }}">
{% endblock %}

{% block photo %}
<label for="imageURL">Image URL:</label>
<input type="url" name="imageURL" form="shelter{{ shelter._id }}" value="{{ shelter.imageURL or '' }}">
note: this only accepts URL's at this time. file uploads are not supported.
{% endblock %}

{% block address %}
<input type="text" name="address" form="shelter{{ shelter._id }}" value="{{ shelter.address or '' }}">
{% endblock %}

{% block donationlink %}
<label for="donationURL">Link to donations page:</label>
<input type="url" name="donationURL" form="shelter{{ shelter._id }}" value="{{ shelter.donationURL or '' }}">
{% endblock %}

{% block contactinfo %}
<label for="phoneNumber">Phone Number:</label>
<input type="tel" name="phoneNumber" form="shelter{{ shelter._id }}" value="{{ shelter.phoneNumber or '' }}">
<br>
<label for="emailAddress">Email Address:</label>
<input type="text" name="emailAddress" form="shelter{{ shelter._id }}" value="{{ shelter.emailAddress or '' }}">
{% endblock %}

{% block capacity %}
<label for="bedsTaken">Beds Taken:</label><!-- this should probably be beds free to avoid this \/ -->
<input type="text" name="bedsTaken" form="shelter{{ shelter._id }}" value="{{ (shelter.capacity - shelter.bedsFree) or '' }}">
<br>
<label for="capacity">Total Capacity:</label>
<input type="text" name="capacity" form="shelter{{ shelter._id }}" value="{{ shelter.capacity or '' }}">
{% endblock %}

{% block amenities %}

{% endblock %}

{% block restrictions %}

{% endblock %}




<!-- ="editshelterform" -->
{% block editform %}
<form action="{{ url_for('account') }}" id="shelter{{ shelter._id }}" method="post">
    <input type="text" name="shelter-id" value="{{ shelter._id }}" hidden>
    <input type="submit" name="update" value="Update Shelter Listing">
    <input type="submit" name="delete" value="Add Shelter Listing">
    <input type="reset" name="Reset form" value="Reset this form">
 </form>
{% endblock %}

{% block newform %}
  <details class="shelterListEntry">
    <summary class="shelterTitle">Add Shelter</summary>
    {% include 'newshelterform.html' %}    
  </details>         
{% endblock %}