<div id="editcontainer">
    <form action="*">
      <fieldset>
        <legend>Shelter information</legend>
        Name:<br>
        <input type="text" name="shelter-name">
        <br>
        Location:<br>
        <input type="text" name="shelter-location">
        <br>
        Phone Number:<br>
        <input type="text" name="shelter-phone">
        <br>
        Number of Total Beds:<br>
        <input type="number" name="total-beds">
        <br>
        Number of Available Beds:<br>
        <input type="number" name="available-beds">
        <br>
        Donation Link:<br>
        <input type="text" name="donations">
        <br>
      </fieldset>
    </form>
</div>