{% extends "layout.html" %}

{% block title %}The Rights of Homeless Youth{% endblock %}

{% block head %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">


{% endblock %}

{% block content %}
   
   <article class="rightsArticle">
     <h1 id="rightsTitle">The Rights of Homeless Youth</h1>
     <img id="fistImg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Fist.svg/2000px-Fist.svg.png" alt="fist image">
    
     
    <h2 id="ventoTitle"><strong>The McKinney-Vento Act</strong></h2> <br>
    
    <div class="rightsText">
        To benefit from protections of this act you must
        lack a regular or fixed nightime residence. It 
        also applies to those sharing housing due to a  
        hardship (economic or otherwise) or living in a hotel,  
        car, public space, etc. The rights provided through   
        this act include staying at schoool of origin,   
        going to school without your records, transportion   
        to and from school, and access to the school's programs.   
  </div>

   </article>

{% endblock %}