<!DOCTYPE html>
<head>
    <title>UnSheltered</title>
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <meta charset="UTF-8">

    <!-- This stuff will be useful if we make a web app for mobile devices
    <link rel="apple-touch-icon" href="answery-logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>        
        
    <div id="titlebar">
       <img src="https://vectr.com/ajharker/a1kj2IcWwB.svg?select=a1kj2IcWwBpage0"  >
     
    <button id="login" type="button">Login</button> 
    <button id="register" type="button">Register</button>    
       
    </div>  
    <div id="sheltercontainer">
        <details class="shelter">
            <summary class="shelterSummary">
                <span class="shelterTitle">Awesome Minds Homeless Shelter</span>
                <span class="shelterOccupancy">53</span>
            </summary>
            <p> TEST</p>
        </details>
        <details class="shelter">
            <summary>Outside In</summary>
                
        </details>
        <details class="shelter">
            <summary class="shelterSummary">
                <span class ="shelterTitle"> Placeholder Shelter</span>
                <span class = "shelterOccupancy">42</span>
            </summary>
            <div style="clear: both;">
                
            <p class="alignleft">Placeholder Information 1:</p>
            <p class="alignright">Placeholder Information 1 corresponding infoppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp</p>

            <p class="alignleft">Placeholder Information 2:</p>
            <p class="alignright">Placeholder Information 2 corresponding info</p>

            <p class="alignleft">Shorter info:</p>
            <p class="alignright">short things</p>

            </div>

        </details>
    </div>
    {{ test }}

    





</body>
</html>

