{% extends "layout.html" %} {% block title %}The Rights of Homeless Youth{% endblock %} {% block head %} {{ super() }} {%
endblock %} {% block content %}
<div class="row justify-content-center">
  <div class="col-12">
    <article class="rightsArticle">
      <h1 id="rightsTitle">The Rights of Homeless Youth</h1>
      <img id="fistImg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Fist.svg/2000px-Fist.svg.png" alt="fist image">
  </div>

  <div class="col-12 justify-content-center">
    <h2 id="ventoTitle">
      <strong>The McKinney-Vento Act</strong>
    </h2>
    <br>
  </div>
  <div class="col-12 col-md-11 col-lg-10">
    <div class="rightsText">
      In order to benefit from the protection of this act you must not have a regular or fixed nightime residence. However, this
      act also applies to those sharing houses due to a hardship (economic or otherwise) or living in a hotel, car, public
      space, etc. The rights provided through this act include: staying at school of origin, going to school without your
      records, transportion to and from school, and access to the school's programs.
    </div>
  </div>
</div>

</article>
</div>

{% endblock %}

<!--1. We need to have a link next to the shelters that links to their location on google maps
    2. Need a verification system for verifying shelters are actually real 
    3. Need to find a quick way for shelters to update their occupancy 
    4. (If time permits...find a way to keep track of time)
    5. 

-->