{% extends "layout.html" %}

{% block title %}The Rights of Homeless Youth{% endblock %}

{% block head %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">


{% endblock %}

{% block content %}
   
   <article class="rightsArticle">
     <h1 id="rightsTitle">The Rights of Homeless Youth</h1>
     <img id="fistImg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Fist.svg/2000px-Fist.svg.png">
    
    <h2>The McKinney-Vento Act</h2> <br>
    <h3>To benefit from protections of this act you must</h3> <br>
    <h3>lack a regular or fixed nightime residence. It </h3>  <br>
    <h3>also applies to those sharing housing due to a </h3>  <br>
    <h3>hardship (economic or otherwise) or living in a hotel,</h3>  <br>
    <h3>car, public space, etc. The rights provided through  </h3>  <br>
    <h3>this act include staying at schoool of origin, </h3>  <br>
    <h3>going to school without your records, transportion </h3>  <br>
    <h3>to and from school, and access to the school's programs. </h3>  <br>
    

   </article>

{% endblock %}