<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- This stuff will be useful if we make a web app for mobile devices
    <link rel="apple-touch-icon" href="answery-logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>{% block title %}{% endblock %} - UnSheltered</title>
    {% endblock %}
  </head>
  <body>
    <header id="site-header">
      <a href= "/">
      <img src="https://vectr.com/ajharker/a1kj2IcWwB.svg?select=a1kj2IcWwBpage0"  >
      </a>

      <div class="dropdown">
          <button class="dropbtn">Menu</button>
          <div class="dropdown-content">
            <a href="/volunteer">Volunteer Opportunities</a>
          </div>
        </div>

    {% if loggedin %}
      <a href="/logout">
        <button id="logout" type="button">Logout</button>
      </a>
    {% else %}
      <a href="/login">
        <button id="login" type="button">Login</button>
      </a>
      <a href="/signup">
        <button id="register" type="button">Register</button>    
      </a> 

     
      

    {% endif %}
    </header>
    <section id="content">
      {% block content %}
      {% endblock %}
    </section>
    <footer id="site-footer">
      <p>Copyright 2018 ~ NWAPW Project</p>
    </footer>
  </body>
</html>
