<div id="sheltercontainer">
        {% for shelter in shelters %}
            <details class="shelterListEntry">
                <summary class="shelterSummary">
                    <span class="shelterTitle">
                        {{ shelter.name }}

                        <i title ="Has Restrictions" class="fas fa-exclamation-triangle warningColor shelterWarningIcon"></i>
                    </span>
                    <span class="shelterOccupancy">{{ shelter.capacity - shelter.bedsoccupied }}</span>
                </summary>
                
                <div class="infoContainer">
    
                    <div class="infobox" id="selected"> <!--the id thing is for the background color of the individual box, new background colors for a different box requires a new selected id (new css class)-->
                        <h4 class="alignleft">Info on the left: </h4>
                        <p class="alignright">Info on the right, about medium size-ish</p>
                  </div>
                  
                    <div class="infobox">
                    <a href="https://outsidein.ejoinme.org/MyPages/DonationPage/tabid/71162/Default.aspx"
                    <h4 class="alignleft">Donations:</h4>
                    </a>
                    <p class="alignright">Please help them!!!</p>
                    </div>
    
                    <div class="infobox">
                        <h4 class="aligntoptitle">Placeholder Information 2:</h4>
                        <p class="aligntoptext">Placeholder Information 2 corresponding info but it's really looooooooooonnnnnnnnnnnnggggggg</p>
                    </div>
    
                    <div class="infobox">
                        <h4 class="alignleft">Shorter info: </h4>
                        <p class="alignright">short things</p>
                    </div>
                  
                    <div class="infobox">
                        <h4 class="aligntoptitle">Placeholder Information 2:</h4>
                        <p class="aligntoptext">Placeholder Information 2 corresponding short</p>
                    </div>
    
                    <!--basically just filler to test if the website configures it properly-->
                    <div class="infobox">
                        <h4 class="alignleft">Shorter info left: </h4>
                        <p class="alignright">small things</p>
                    </div>
                    <div class="infobox">
                        <h4 class="alignleft">Info left: </h4>
                        <p class="alignright">Some more info on the right, you know, cool stuff.</p>
                    </div>
                    <div class="infobox">
                        <h4 class="alignleft">Medium info: </h4>
                        <p class="alignright">Nice haircut! I like it. :)</p>
                    </div>
                    <div class="infobox">
                        <h4 class="alignleft">Shorter info: </h4>
                        <p class="alignright">short things pt 2</p>
                    </div>
                    <!--filler end-->
    
                    <div class="infobox">
                        <h4 class="aligntoptitle">Placeholder Information 2:</h4>
                        <p class="aligntoptext">Placeholder Information 2 corresponding short</p>
                    </div>
    
                    <!--Checkboxes start here ! ! ! BE ADVISED ! ! !-->
                    <!--A SOLO CHECKBOX-->
                    <label class="container">Solo 1
                        <input type="checkbox" checked="checked" disabled> <br>
                        <span class="checkmark"></span>
                    </label>
                    <!--CHECKBOXES AS A UNIT, PART OF A FLEXBOX-->
                    <div class="infoxbox">
                        <label class="container">List 1
                            <input type="checkbox" disabled> <br>
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">List 2
                            <input type="checkbox" disabled> <br>
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">List 3
                            <input type="checkbox" checked="checked" disabled> <br>
                            <span class="checkmark"></span>
                        </label>
                    </div>
    
    
    
                </div>
                {% block editform scoped %}
                {% endblock %}
            </details>
        {% endfor %} 

        {% block newform %}
        {% endblock %}
        
    </div>