{% extends "listtemplate.html" %}

{% block photo %}<img src="{{ shelter.imageURL }}" />{% endblock %}

{% block address %}
<p class="aligntoptext">{{ shelter.address }}</p>
{% endblock %}

{% block donationlink %}
<a href="{{ shelter.donationURL }}">
    <h4 class="aligntoptitle">Donate to this Shelter</h4>
</a>
{% endblock %}

{% block contactinfo %}
<!-- It might be better to make these inline styles instead of block styles-->
<h4 class="aligntoptitle">Phone Number:</h4>
<p class="aligntoptext">{{ shelter.phoneNumber }}</p>
<h4 class="aligntoptitle">Email: </h4>
<p class="aligntoptext">{{ shelter.emailAddress }}</p>
{% endblock %}

{% block capacity %}
<p class="aligntoptext">{{ shelter.capacity-shelter.bedsFree }} / {{ shelter.capacity }} Spaces filled</p>
{% endblock %}

{% block amenities %}
<ul>
    {% for amenity in shelter.amenities %}
        <li>{{ amenity }}</li>
    {% endfor %}
</ul>
{% endblock %}


{% block restrictions %}
<ul>
    {% for restriction in shelter.restrictions %}
         <li>{{ restriction }}</li>
    {% endfor %}
</ul>
{% endblock %}


{% block maplink %}<a href="{{ shelter.mapURL }}">View this shelter on Google Maps</a>{% endblock %}