{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block head %}
  {{ super() }}

  <style>
    body {background-color:#B6F9C9;}
    h1 {
        font-family: "Comic Sans MS", Sans-serif;
        text-align: center;
    }
    form { 
        text-align: center; 
        font-family: "Comic Sans MS", Sans-serif;
    } 
    
    </style>

{% endblock %}

{% block content %}
    <h1> Login </h1> 
    <form>
    Username: <input type="text" name="username"><br> <br> <br>
    Password: <input type="text" name="password">
    </form>
{% endblock %}