<div class="container-fluid">
    <div class="row">
        <form action="{{ url_for('account') }}" name="newshelterform" method="post">
            <div class="col-12" style="margin-bottom:10px">
                <input type="text" name="shelter-id" value="{{ shelter._id if shelter is defined else '' }}" hidden>
                <label for="name">Shelter Name:</label>
                <input type="text" name="name" required value="{{ shelter.name if shelter is defined else '' }}">
            </div>
            <div class="col-12" style="margin-bottom:10px">
                <label>Address:</label>
                <br>
                <input type="text" name="streetaddress" placeholder="Street Address" required>
                <br>
                <input type="text" name="city" value="Portland" disabled size="4" style="min-width: 70px; margin-bottom:10px">
                <input type="text" name="state" value="OR" disabled size="2" style="min-width: 25px; margin-bottom:10px">
                <select name="zipcode" style="margin-bottom:10px">
                    {% for zip in range(97201, 97300) %} {# inclusive, exclusive #}
                    <option value="{{ zip }}">{{ zip }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-12" style="margin-bottom:10px">
                <h5>Contact Information:</h5>
                <label for="phoneNumber">Phone Number:</label>
                <input type="tel" pattern="(\d{3}[\-]\d{3}[\-]\d{4})|([0-9]{10})" name="phoneNumber" placeholder="Phone Number" required>
                <br>
                <label for="emailAddress">Email Address:</label>
                <input type="email" name="emailAddress" placeholder="Email Address" style="margin-bottom:10px;" placeholder="name@shelterwebsite.com">
                <br>
                <label for="webURL">Website URL:</label>
                <input type="text" name="webURL" placeholder="www.shelterwebsite.com">

            </div>
            <div class="col" style="margin-bottom:10px">
                <label for="bedsFree">Spaces Free:</label>
                <input type="number" required name="bedsFree" size="2" min="0" max="10000" class="inputnumber">
                <br>
                <label for="capacity">Housing Capacity:</label>
                <input type="number" name="capacity" required size="2" min="0" max="10000" class="inputnumber">
            </div>

            <div class="col">
                <input type="submit" class="btn btn-primary" name="submit" value="Submit" style="margin-bottom:10px">
                <input type="reset" class="btn btn-secondary" name="Reset form" value="Reset this form" style="margin-bottom:10px">
            </div>
        </form>
    </div>
</div>