<div class="container-fluid">
    <div class="row">
        <form action="{{ url_for('account') }}" name="newshelterform" method="post">
            <div class="col-12" style="margin-bottom:10px">
                <input type="text" name="shelter-id" value="{{ shelter._id if shelter is defined else '' }}" hidden>
                <label for="name">Shelter Name:</label>
                <input type="text" name="name" required value="{{ shelter.name if shelter is defined else '' }}">
            </div>
            <div class="col-12" style="margin-bottom:20px">
                <label>Address:</label>
                <br>
                <input type="text" name="streetaddress" placeholder="Street Address" required>
                <br>
                <input type="text" name="city" value="Portland" disabled size="4">
                <input type="text" name="state" value="OR" disabled size="2">
                <select name="zipcode">
                    {% for zip in range(97201, 97300) %} {# inclusive, exclusive #}
                    <option value="{{ zip }}">{{ zip }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col" style="margin-bottom:10px">
                <label for="bedsFree">Spaces Free:</label>
                <input type="number" required name="bedsFree" size="2" min="0" max="10000" >
                <br>
                <label for="capacity">Housing Capacity:</label>
                <input type="number" name="capacity" required size="2" min="0" max="10000" >
            </div>

            <div class="col">
                <input type="submit" class="btn btn-primary" name="submit" value="Submit">
                <input type="reset" class="btn btn-secondary" name="Reset form" value="Reset this form">
            </div>
        </form>
    </div>
</div>