<!DOCTYPE html>
<html>

<style>
h1 { 
	font-family: "Comic Sans MS", Sans-serif;
    text-align: center;
    }
body {background-color:#8CDFD6;}

form { 
	font-family: "Comic Sans MS", Sans-serif;
    text-align: center;
    }
</style>
<br><br><br><br><br> 
<h1> Create your account </h1>
<br>
<body>
<form>
  Current Shelter: <input type="text" name="shelter"> <br> <br>
  Username: <input type="text" name="username"> <br> <br>
  Password: <input type="text" name="password"> <br> <br>
</form>

</body>
</html>