<!DOCTYPE html>
<html>
<head>
<style>
body {background-color:#8CDFD6;}
</style>
</head>
<body>

<br/><br/> <br/>
<h1> <font face = "Comic Sans MS"> <center> Create Your Account </center> </font> </h1> 
<br/>
<center> Current Shelter: <input name = "name" type = "text" size = "20"> </center> <br/>
<br/>
<center> Username: <input name = "name" type = "text" size = "20"> </center> <br/>
<br/>
<center> Password: <input name = "name" type = "text" size = "20"> </center> <br/>
<br/>
<br/>



</body>
</html>
